

<div class="row">
	<div class="col-md-1"> </div>
	<div class="col-md-2">
		<h3>User Name</h3>
		<div class="panel panel-default">
		  <div class="panel-heading">About</div>
			  <div class="panel-body">
			    <center><strong>User <br>Profile<br> Image <br>Here</strong></center>
			  </div>
			  <ul class="list-group">
  				<li class="list-group-item">Name</li>
  				<li class="list-group-item">Company</li>
  				<li class="list-group-item">BlogURL</li>
  				<li class="list-group-item">Follower Count</li>
  				<li class="list-group-item">Following Count</li>
  				<li class="list-group-item">Creation Date</li>
			  </ul>
			</div>

	</div>

	<div class="col-md-7"> 
		<h3>Repositories</h3>
		<div class="well"><strong> Repository Title</strong><br> Repo Description </div>
		<div class="well"><strong> Repository Title</strong> <br>Repo Description </div>
		<div class="well"><strong> Repository Title</strong> <br>Repo Description </div>
		<div class="well"><strong> Repository Title</strong> <br>Repo Description </div>
	</div>

</div>


{{outlet}}
