<h1>Welcome!</h1>

<form>
	<input {{bind-attr id="username"}} type="text" placeholder="Username">
	<input {{bind-attr id="password"}} type="password" placeholder="Password">
	<input {{action "submitAction"}} type="submit" value="Log In">
</form>