<h1>Welcome!</h1>

<form {{action "login" on="submit"}}>
	{{input value=username id='username' placeholder="Username"}}
	{{input type="password" id='password' placeholder="Password"}}
	{{input type="submit" value="Log In"}}

	{{#if loginFailed}}
	  <div class="alert alert-danger">Invalid username or password.</div>
	{{/if}}
</form>