<div class="row">
	<div class="col-md-1"> </div>

	<div class="col-md-7"> 
		<h3>Repositories</h3>
		<div class="well"><strong> Repository Title</strong><br> Repo Description </div>
		<div class="well"><strong> Repository Title</strong> <br>Repo Description </div>
		<div class="well"><strong> Repository Title</strong> <br>Repo Description </div>
		<div class="well"><strong> Repository Title</strong> <br>Repo Description </div>
	</div>

	<div class="col-md-2">
		
		<div class="panel panel-default">
		  <div class="panel-heading">Repo</div>
			  <div class="panel-body">
			  </div>
			  <ul class="list-group">
  				<li class="list-group-item">Stars</li>
  				<li class="list-group-item">Following</li>
  				<li class="list-group-item">Forks</li>
			  </ul>
			</div>
	</div>

</div>

{{outlet}}
