<div class="row">
	<div class="col-md-1"> </div>

	<div class="col-md-7"> 
		<h3>Repositories</h3> 
		<div class="well"><strong> Filename </strong><br> </div>
		<div class="well"><strong> Filename </strong> <br></div>
		<div class="well"><strong> Filename </strong> <br></div>
		<div class="well"><strong> Filename </strong> <br></div>
	</div>

	<div class="col-md-2">
		<div class="panel panel-default">
		  <div class="panel-heading">Repo</div>
			  <div class="panel-body">
				<button class="btn-info">Star this repo</button>
			  </div>
			  <ul class="list-group">
			  	<li class="list-group-item"><a href="#">Issues</a></li>
  				<li class="list-group-item"><a href="#">Stars</a></li>
  				<li class="list-group-item"><a href="#">Watching</a></li>
  				<li class="list-group-item"><a href="#">Forks</a></li>
			  </ul>
			</div>
	</div>

</div>

{{outlet}}
